*{
    margin: 0;
    padding: 0;
    box-sizing
}
body{
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #813b3b;
}
/* git add .
git commit -m "Initial commit"
git push */