    *{
        margin: 0;
        padding: 0;
        box-sizing
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        background: #813b3b;
    }

    .counter-container{
        position: relative;
        width: 350px;
        height: 600px;
        background-color: white;
        border-radius: 40px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 30px rgba(0,0,0,0.3);

    }
    .counter-container::before{
        content: "";
        width: 100px;
        height: 25px;
        background: #910404; 
        border-radius: 0 0 8px 10px;
        position: absolute;
        top: 0;
        transform: translateX(-50%), translateY(50%);
    }

    .counter-display{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    }

    .counter-value{
        font-size: 170px;
        font-weight: 700;
        color: #910404;
        line-height: 1;
        font-size: clamp(80px, 10vw, 100px);
    }
    .button-group {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        margin-bottom: 40px;
    }
    .counter-add {
        flex: 2;
        display: flex;
        flex-direction: column;
    }

    .add-btn {
        flex: 1;
        font-size: 40px;
        background-color: #813b3b;
        color: #fff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: transform 0.2s;
        margin-top: -9px;
    }
    .add-btn:hover {
        transform: scale(1.05);
    }
    .counter-subtract,
    .counter-reset {
        flex: 1;        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .counter-subtract button,
    .counter-reset button {
        width: 100%;
        height: 90%;
        font-size: 28px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.2s;
        margin-bottom: 10px;
    }

/* git add .
git commit -m "Initial commit"
git push */